html, body, .viewport {
  background-color: #DDD;
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
  height: 100%;
	margin: 0;
}

.root {
  height: 100%;
  width: 100%;
}

.flex-container {
  background-color: #DDD;
  padding: 20px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flex-item {
  background-color: #FFF;
  padding: 5px;
  width: 400px;
  text-align: left;
  
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 30px 1fr;
  grid-template-row: 1fr 1fr;
}

#header {
  background-color: orange;
  font-weight: bold;
}

.number {
  font-size: 14px;
  margin: 0px;
  text-align: right;
  grid-area: 1 / 1 / span 1 / span 1;
}

.title {
  font-size: 14px;
  margin: 0px;
  grid-area: 1 / 2 / span 1 / span 1;
}

.date {
  font-size: 10px;
  color: #666;
  margin: 0px;
  grid-area: 2 / 2 / span 1 / span 1;
}

#load-button {
  margin: 10px;
}
